@import "base/_base"

.video
    .streams
        display: flex
        flex-direction: row
        flex-wrap: wrap
        height: 100vh
        .video-content
            min-width: 350px
            flex: 1
            overflow: hidden
            position: relative
            &.corner-small
                position: absolute
                min-width: auto
                width: 240px
                height: 135px
                right: 2%
                bottom: 2%
                z-index: 100
                box-shadow: $video-shadow
            video, .poster
                position: absolute
                left: 0
                top: 0
                height: 100%
                width: 100%
                background: $black
                object-fit: cover
            .poster
                display: none
                z-index: 10
                +transition($s)
                img
                    height: 80%
                    width: 80%
                    border-radius: 50%
                    max-height: 400px
                    max-width: 400px
                    object-fit: cover
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                &.active
                    display: block
                    +transition($s)

    .controls
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        text-align: center
        display: flex
        z-index: 10000000
        +animation(pop-in-controls 0.6s)
        +transition($s)
        &.hidden
            opacity: 0
            pointer-events: none
            +animation(pop-out-controls 0.6s)
            +transition($s)
        .share-box
            position: absolute
            bottom: calc(10vh + 25px)
            min-width: 100%
            max-width: 300px
            background: $white
            display: none
            +transition($s)
            &.active
                display: block
                +transition($s)
            input,button
                border: none
                padding: 15px
                box-sizing: border-box
                &:focus
                    outline: none
            input
                width: 80%
                float: left
            button
                width: 20%
                float: left
                background: black
                color: $white
                &:hover
                    cursor: pointer
            h2
                font:
                    family: sans-serif
                    size: .9em
                    weight: normal
                margin-bottom: 0
                text-align: center
                
        .button
            height: 6.5vh
            width: 6.5vh
            margin: 25px .4vh
            border-radius: 50%
            flex: 1
            background: none
            position: relative
            background: rgba(0,0,0,0.4)
            +transition($s)
            &:hover
                background: rgba(0,0,0,0.8)
                cursor: pointer
                +transition($s)
            &::before
                content: ""
                color: $white
                font:
                    family: "FontAwesome"
                    size: 2.5vh
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                +transition($s)
            &.facing
                &::before
                    content: "\f007"
                &.active
                    &::before
                        content: "\f0ac"
            &.mute
                &::before
                    content: "\f131"
                &.active
                    &::before
                        content: "\f130"
            &.video
                &::before
                    content: "\f03d"
            &.share
                &::before
                    content: "\f064"
            &.screenSharing
                &::before
                    content: "\f108"
            &.full
                &::before
                    content: "\f0b2"
                &.active
                    &::before
                        content: "\f066"
            &.active
                background: $white
                +transition($s)
                &::before
                    color: $black
                    +transition($s)
    img.logo
        position: absolute
        width: 20%
        max-width: 200px
        min-width: 100px
        max-height: 150px
        height: auto
        object-fit: contain
        z-index: 100
        &.BOTTOM_LEFT
            left: 10px
            bottom: 10px
        &.BOTTOM_RIGHT
            right: 10px
            bottom: 10px
        &.TOP_LEFT
            left: 10px
            top: 10px
        &.TOP_RIGHT
            right: 10px
            top: 10px
