@import "base/_base"

.video
    .streams
        display: flex
        flex-direction: row
        flex-wrap: wrap
        .video-content
            background: $black
            min-width: 250px
            min-height: 350px
            height: 100vh
            flex: 1
            overflow: hidden
            position: relative
            video, .poster
                position: absolute
                left: 0
                top: 0
                height: 100%
                width: 100%
                background: $black
                object-fit: cover
            .poster
                display: none
                z-index: 10
                +transition($s)
                img
                    height: 400px
                    width: 400px
                    border-radius: 50%
                    max-height: 60%
                    max-width: 100%
                    object-fit: cover
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                &.active
                    display: block
                    +transition($s)
            .loading
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                z-index: 1000
                background: $black
                display: none
                +transition($s)
                &.active
                    display: block
                    +transition($s)
                .loader
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%,-50%)

    .controls
        position: absolute
        bottom: 5vh
        left: 50%
        transform: translateX(-50%)
        text-align: center
        background: rgba(0,0,0,0.6)
        display: flex
        z-index: 100
        +animation(pop-in-controls 0.6s)
        +transition($s)
        &.hidden
            opacity: 0
            pointer-events: none
            +animation(pop-out-controls 0.6s)
            +transition($s)
        .share-box
            position: absolute
            bottom: 10vh
            min-width: 100%
            max-width: 300px
            background: $white
            display: none
            +transition($s)
            &.active
                display: block
                +transition($s)
            input,button
                border: none
                padding: 15px
                box-sizing: border-box
                &:focus
                    outline: none
            input
                width: 80%
                float: left
            button
                width: 20%
                float: left
                background: black
                color: $white
                &:hover
                    cursor: pointer
            h2
                font:
                    family: sans-serif
                    size: .9em
                    weight: normal
                margin-bottom: 0
                text-align: center
                
        .button
            height: 8vh
            width: 10vh
            flex: 1
            background: none
            position: relative
            +transition($s)
            &:hover
                background: rgba(0,0,0,0.6)
                cursor: pointer
                +transition($s)
            &::before
                content: ""
                color: $white
                font:
                    family: "FontAwesome"
                    size: 3vh
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
                +transition($s)
            &.mute
                &::before
                    content: "\f130"
                &.active
                    &::before
                        content: "\f131"
            &.video
                &::before
                    content: "\f03d"
            &.share
                &::before
                    content: "\f064"
            &.full
                &::before
                    content: "\f0b2"
                &.active
                    &::before
                        content: "\f066"
            &.active
                background: $white
                +transition($s)
                &::before
                    color: $black
                    +transition($s)
    .logo
        z-index: 100
        &.BOTTOM_LEFT
            img
                left: 10px
                bottom: 10px
        &.BOTTOM_RIGHT
            img
                right: 10px
                bottom: 10px
        &.TOP_LEFT
            img
                left: 10px
                top: 10px
        &.TOP_RIGHT
            img
                right: 10px
                top: 10px
        img
            position: absolute
            width: 20%
            max-width: 200px
            min-width: 100px
            max-height: 150px
            height: auto
            object-fit: contain
    