@charset "UTF-8";
@font-face {
  font-family: FontAwesome;
  src: url(/fonts/FontAwesome.otf);
}
body {
  margin: 0;
  padding: 0;
  background: #232323;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: #232323;
  display: none;
}
.loading.active {
  display: block;
}
.loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .logo img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  max-height: 200px;
}

.__react_component_tooltip {
  font-family: sans-serif;
  font-size: 0.7em;
}

.video .streams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.video .streams .video-content {
  background: #232323;
  min-width: 250px;
  min-height: 350px;
  height: 100vh;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.video .streams .video-content video, .video .streams .video-content .poster {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #232323;
  object-fit: cover;
}
.video .streams .video-content .poster {
  display: none;
}
.video .streams .video-content .poster.active {
  display: block;
}
.video .controls {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}
.video .controls .share-box {
  position: absolute;
  top: -200px;
  min-width: 100%;
  max-width: 300px;
  background: white;
  display: none;
}
.video .controls .share-box.active {
  display: block;
}
.video .controls .share-box input, .video .controls .share-box button {
  border: none;
  padding: 15px;
  box-sizing: border-box;
}
.video .controls .share-box input:focus, .video .controls .share-box button:focus {
  outline: none;
}
.video .controls .share-box input {
  width: 80%;
  float: left;
}
.video .controls .share-box button {
  width: 20%;
  float: left;
  background: black;
  color: white;
}
.video .controls .share-box h2 {
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}
.video .controls .button {
  height: 8vh;
  width: 10vh;
  flex: 1;
  background: none;
  position: relative;
}
.video .controls .button:hover {
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.video .controls .button::before {
  content: "";
  color: white;
  font-family: "FontAwesome";
  font-size: 3vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video .controls .button.mute::before {
  content: "";
}
.video .controls .button.mute.active::before {
  content: "";
}
.video .controls .button.video::before {
  content: "";
}
.video .controls .button.share::before {
  content: "";
}
.video .controls .button.full::before {
  content: "";
}
.video .controls .button.full.active::before {
  content: "";
}
.video .controls .button.active {
  background: white;
}
.video .controls .button.active::before {
  color: #232323;
}
.video .logo img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  max-height: 200px;
}

/*# sourceMappingURL=index.css.map */
