@import "_vars"

body
    margin: 0
    padding: 0
    background: $black
    overflow: hidden

.loading
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100%
    z-index: 1000
    background: $black
    display: none
    +transition($s)
    &.active
        display: block
        +transition($s)
    .loader
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    .logo
        z-index: 100
        &.BOTTOM_LEFT
            img
                left: 10px
                bottom: 10px
        &.BOTTOM_RIGHT
            img
                right: 10px
                bottom: 10px
        &.TOP_LEFT
            img
                left: 10px
                top: 10px
        &.TOP_RIGHT
            img
                right: 10px
                top: 10px
        img
            position: absolute
            width: 20%
            max-width: 200px
            min-width: 100px
            height: auto
            max-height: 200px
.__react_component_tooltip
    font:
        family: sans-serif
        size: .7em