$black: rgba(35,35,35, 1)
$white: white

@font-face
    font-family: FontAwesome
    src: url(/fonts/FontAwesome.otf)
    
body
    margin: 0
    padding: 0
    background: $black

.loading
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    z-index: 1000
    background: $black
    display: none
    &.active
        display: block
    .loader
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
    .logo
        img
            position: absolute
            left: 10px
            bottom: 10px
            width: 20%
            max-width: 200px
            min-width: 100px
            height: auto
            max-height: 200px
.__react_component_tooltip
    font:
        family: sans-serif
        size: .7em